.card_body {
    border: 2px solid orange;
    border-radius: 10px;
}
.item_name{
   
/* font-family: 'Lobster', sans-serif; */
}

.btn_view {
    font-family: 'Playfair Display', serif;

}

.category_icon {
    font-family: 'Playfair Display', serif;
    border-radius: 45px;
}